<!doctype html>
<html lang="en">

    <head>
        <title>PS Vote Console!</title>
        <link rel="stylesheet" href="bulma.css" />
        <link rel="stylesheet" href="console.css" />
    </head>

    <body>
        <main id="app">
            <div class="info-box">
                <br />
                <h1 class="title is-2 centerAlign whiteText">Vote Data</h1>
                <h2 class="subtitle is-5  centerAlign whiteText">Voting: <b><span v-if="voting.open">OPEN</span><span v-if="!voting.open">CLOSED</span></b></h2>
                <br />

            </div>
            <br />
            <div class="container">
                <div class="">
                    <h1>NOTE: the graphs are comming, I commented them out for now</h1>
                    <!--
                    <div class="title is-3">
                        Current Rankings:
                    </div>
                    <div class="podiums columns">
                        <div class="column podium second">
                            <div class="second-top">

                            </div>
                            <div class="second-bottom">
                                <div class="title is-2 centerAlign whiteText">
                                    2
                                </div>
                                <div class="title is-4 centerAlign whiteText">
                                    {{console.second.candidate.name}}
                                </div>

                            </div>

                        </div>
                        <div class="column podium first">
                            <div class="first-bottom">
                                <div class="title is-2 centerAlign whiteText">
                                    1
                                </div>
                                <div class="title is-4 centerAlign whiteText">
                                    {{console.first.candidate.name}}
                                </div>
                            </div>

                        </div>
                        <div class="column podium third">
                            <div class="third-top">

                            </div>
                            <div class="third-bottom">
                                <div class="title is-2 centerAlign whiteText">
                                    3
                                </div>
                                <div class="title is-4 centerAlign whiteText">
                                    {{console.third.candidate.name}}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>




-->

                    <div class="box">
                        <h1 class="title">Canidate Ranking</h1>
                        <h2 class="subtitle">Total Votes: {{voting.totalVotes}}</h2>
                        <hr>
                        <div v-for="canidate in sortedArray" class="box">
                            <div class="title is-3">
                                <b>{{canidate[0]}}</b> {{getVotesPercent(canidate[0])}}% of votes
                            </div>
                            <progress class="progress is-primary" :value="getVotesPercent(canidate[0])" max="100"></progress>

                        </div>

                    </div>

                </div>
        </main>
        <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyB7YPgZojQfz59zQRKjK-V0uCDtwbyxLvQ",
                authDomain: "vote-809f1.firebaseapp.com",
                databaseURL: "https://vote-809f1.firebaseio.com",
                projectId: "vote-809f1",
                storageBucket: "",
                messagingSenderId: "595808194393"
            };
            firebase.initializeApp(config);
            var provider = new firebase.auth.GoogleAuthProvider();
            provider.setCustomParameters(
            {
                'login_hint': 'name@prospectsierra.org'
            });
        </script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="console.js " charset="utf-8 "></script>
    </body>

</html>
