<!doctype html>
<html lang="en">

    <head>
        <title>PS Vote Console!</title>
        <link rel="stylesheet" href="bulma.css" />
        <link rel="stylesheet" href="console.css" />
    </head>

    <body>
        <main id="app">
            <div class="info-box">
                <br />
                <div class="title is-2 centerAlign whiteText">
                    Vote Data
                </div>
                <br />
                <p>Voting is <b><span v-if="voting.open">OPEN</span><span v-if="!voting.open">CLOSED</span></b></p>
            </div>
            <br />
            <div class="container">
                <div class="box">
                    <h1>NOTE: the graphs and the percent voted is comming, I commented them out for now</h1>
                    <!--
                    <div class="title is-3">
                        Current Rankings:
                    </div>
                    <div class="podiums columns">
                        <div class="column podium second">
                            <div class="second-top">

                            </div>
                            <div class="second-bottom">
                                <div class="title is-2 centerAlign whiteText">
                                    2
                                </div>
                                <div class="title is-4 centerAlign whiteText">
                                    {{console.second.candidate.name}}
                                </div>

                            </div>

                        </div>
                        <div class="column podium first">
                            <div class="first-bottom">
                                <div class="title is-2 centerAlign whiteText">
                                    1
                                </div>
                                <div class="title is-4 centerAlign whiteText">
                                    {{console.first.candidate.name}}
                                </div>
                            </div>

                        </div>
                        <div class="column podium third">
                            <div class="third-top">

                            </div>
                            <div class="third-bottom">
                                <div class="title is-2 centerAlign whiteText">
                                    3
                                </div>
                                <div class="title is-4 centerAlign whiteText">
                                    {{console.third.candidate.name}}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>




-->

                    <div class="box">
                        <p>Toaltal Votes {{voting.totalVotes}}</p>
                        <hr>
                        <div v-for="canidate in canidates" class="candidate-rank-item">
                            <div class="flex-row">
                                <b>{{canidate.name}}</b> &nbsp;&nbsp;&nbsp;
                                <span>{{getVotes(canidate.name)}} votes {{getVotesPercent(canidate.name)}}%</span>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <!--<div class="box">
                    <div class="title is-3">
                        {{console.candidate.name}}
                    </div>
                    <h1 class="title is-4">{{console.candidate.vote-percent}}% of votes</h1>
                    <progress class="progress is-primary" value="35" max="100"></progress>
                </div> -->
                </div>
        </main>
        <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyB7YPgZojQfz59zQRKjK-V0uCDtwbyxLvQ",
                authDomain: "vote-809f1.firebaseapp.com",
                databaseURL: "https://vote-809f1.firebaseio.com",
                projectId: "vote-809f1",
                storageBucket: "",
                messagingSenderId: "595808194393"
            };
            firebase.initializeApp(config);
            var provider = new firebase.auth.GoogleAuthProvider();
            provider.setCustomParameters(
            {
                'login_hint': 'name@prospectsierra.org'
            });
        </script>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script src="console.js " charset="utf-8 "></script>
    </body>

</html>
